#voterForm {
  display: none;
}

#candidateForm {
  display: none;
}

#electionStateForm1 {
  display: none;
}

#electionStateForm2 {
  display: none;
}

#voteForm {
  display: none;
}

#authorizeForm {
  display: none;
}

#electionResult {
  display: none;
}
